@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", "Sans serif";
  margin: 0;

  --box-sizing: border-box;

}







.green {
  background-color: lightgreen;
}
.header {
  display: flex;

  margin: 0 auto;
  padding: 0 50px;

  max-width: 1440px;
  
  
  background-color: tomato;


  align-content: stretch;
  
}

.logo {
  
  height: 2.8125rem;
  border: 1px solid black;
  margin-right: auto;

  align-self: center;


  

}

.container {
  display: inline-block;
}

.menu1 {
  display: inline-block;
    /*
  si inline : le padding et border n'entrent pas dans le cacul de la hauteur du conteneur, et le line-height n'est pas pris en compte pour le border. Donc il faudrait utilser le padding et le line-height, difficile d'ajuster le deux car font-size est appromixmatif.

  si inline-block : le line-height est pris en compte comme limite exterieure imposée au conteneur et pour placer le border.

  donc on utilise ici inline-block.
  */
  line-height: 8.125rem;

  padding-left: 1rem;
  padding-right: 1rem;

  border-top: 3px solid blue;
  ----border-bottom: 3px solid transparent; /*paint same as background-color if transparent  */
  background-color: skyblue; 

 
}

.menu2 {
  display: inline-block;

  line-height: 8.125rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border-top: 3px solid transparent;
  background-color: pink;

  /*vertical-align: baseline;
    cette box est alignee sur la baseline definie (par le text-box de son conteneur), l'alignement se fait sur son contenu
  */
}


.sinscrire {
  display: inline-block;

  line-height: 8.125rem;
  padding-left: 1rem;

  border-top: 3px solid transparent;
  background-color: lightgreen;

  /*
    le contenu de cette box est aligné sur la baseline 
  */

}










