@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color1: #0065FC;
  --color2: #DEEBFF;
  --color3: #F2F2F2; /* grey */
}

* {
  margin: 0;
}

body {
  font-family: "Raleway", "Sans serif";
}

.header {
  display: flex; /* permet marge:auto  ou space between */
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1340px;
  position: relative;
}

.logo {
  height: 2.8125rem;
  margin-right: auto;
  align-self: center;
}

.header div {
  display: inline-block;
}

.header a {
  display: inline-block;
    /*
  si inline : le padding et border n'entrent pas dans le cacul de la hauteur du conteneur, et le line-height n'est pas pris en compte pour le border. Donc il faudrait utilser le padding et le line-height, difficile d'ajuster le deux car font-size est appromixmatif.

  si inline-block : le line-height est pris en compte comme limite exterieure imposée au conteneur et pour placer le border.

  donc on utilise ici inline-block.
  */
  line-height: 7.9375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 500;
  color: var(--color1);
  text-decoration: none;
  /* vertical-align: baseline; */
}

.header div a:nth-child(1)  {
  border-top: 2px solid var(--color1);
  border-bottom: 2px solid transparent; /* pour centrer */
  /* border sur les autres links inutiles, car vertical-align sur baseline. */
}

.header div a:nth-child(2):hover {
  border-top: 2px solid var(--color1);
}

.header nav > a {
  font-weight: 700;
  padding-right: 1.6875rem;

}

.main {
  margin: -0.3125rem auto 0 auto;
  padding: 0 50px;
  max-width: 1340px;

}

h1  {
  font-size: 1.375rem;
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  background-color: pink;
}

.main header form {
  display: inline-flex;

}

.main header form > div {
  display: flex;
  
  justify-content: center;
  align-items: center;

  background-color: var(--color3);
  
  border-radius: 1rem 0 0 1rem;
  height: 3.1875rem;
  width: 3.1875rem;


  
}

.main header form div i {
  font-size: 1.1rem;
}


.main header form input {
  flex-shrink: 1;
  width: 14.625rem;
  padding-left: 1rem;
  border: 1px solid var(--color3);
  font-size: 1rem;
  font-weight: 600;

}

.main header form input::placeholder {
  color: black;
}

.main header form input:focus {
  outline: none;
}

.main header form button {
  border: none;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--color1);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: 600;
}



.main header form button i {
  display: none;
}


@media screen and (max-width: 1440px) {
  .header, .main {
    padding: 0 calc(20px + (100% - 768px) / (1440 - 768) * 30);
  } 
}

@media screen and (max-width:768px) {
  .header {
    margin-bottom: calc(2.8125rem + 3px - 0.5625rem); /* <div> en absolute + 3px border de <a> - marge negative de <div>*/
  }

  .header, .main {
    padding: 0 20px;
  }

  .header nav > a {
    line-height: 5.8125rem; /* new */
  }

  .header div {
    width: 100%;
    left: 0px;
    top: 5.8125rem; /* new */
    position: absolute;
    margin-top: -0.5625rem; /* répartition supérieure de line-height tronquée */ 
  }

  .header div a {
    display: inline-block;
    width: 50%;
    padding: 0px;
    text-align: center;
    line-height: 2.8125rem;
  }
  
  .header div a:nth-child(1)  {
    border-top: none;
    border-bottom: 3px solid var(--color1);
  }

  .header div a:nth-child(2)  {  
    /* vertical-align: baseline; */
  }

  .header div a:nth-child(2):hover {
    border-top: none;
    border-bottom: 3px solid var(--color1);
  }

  .main {
    margin-top: 0px; /* annulation marge negative version desktop */
    padding-top: 1.9375rem; /* le truc au-dessus a une marge, donc on ne peut pas utiliser une marge */
  }

  .main header form {
    width: 100%;
  }

  .main header form input {
    --flex-grow: 1;
  }

  .main header form button span {
    display: none;
  }

  .main header form button i {
    display: inline;
  }


 
}













